@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(186,185,185);
    background: radial-gradient(circle, rgba(186,185,185,0.9206276260504201) 0%, rgba(55,55,60,1) 100%);
    font-family: 'Poppins', sans-serif;

}
